{% extends "../layout.html" %}
{% block tit %}
<title>Tạo loại mới</title>
<style>
    .ba {
        background-image: url({{ba}});
        background-size: auto;
    }

    li {
        list-style-type: None;
    }

    .j {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .j1 {
        width: 500px;
        border: 1px solid rgb(54, 197, 197);
        padding: 10px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .c1 {
        display: flex;
        flex-direction: column;
    }

    .g {
        margin: 15px 0px 0px;
        align-self: center;
    }

    .g2 {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .form-label {
        margin: 8px 0px 0px;
    }

    form {
        margin: 8px 0px 8px;
    }

    h3 {
        text-align: center;
    }

    .v {

        margin-left: 50px;
    }




</style>
{% endblock%}
{% block content %}
<div class="j">

    <div class="j1">
        <h3>Add Type</h3>
        <form action="#" method="POST" class="c1">

         
            <label for="id_n1" class="form-label">Tên:</label><input type="text" name="n1" required="" id="id_n1" class="form-control">


            <input type="submit" value="OK" class="btn btn-outline-success g">

        </form>
    </div>
</div>

{% endblock%}
