{% extends "../layout.html" %}
{% block tit %}
<title>Tất cả link</title>
{% endblock%}
{% block content %}
<style>
    .ba {
        background-image: url({{ba}});
        background-size: auto;
    }

    .centerHeader {
        text-align: center
    }

    .co {
        /*border: 1px soliFFC915d #;*/
        border-radius: 8px;
        margin: 8px 6px 8px;
        background-color: #fff;
        padding: 5px;
    }

    .borderHeader {
        border: 3px solid #1EE378;
        border-radius: 8px;
        margin: 6px 8px 8px;
        background-color: #fff;
        padding: 5px 5px 5px 20px;
    }

    .btn-group {
        margin: 0px 0px 8px;
        transform: scale(0.85, 0.85);
    }

    form {
        margin: 8px 0px 8px;
    }

    .row {
        margin: 6px 0px 8px;
        background-color: #1EE378;
        border-radius: 8px;
    }
</style>


<div class="container">

    {% for i in ty %}
    <div class="row">
        <h2 class="borderHeader" id="tt-{{ i.name }}" name="nc">{{ i.name }}</h2>
        <div class="row" id="tt1-{{ i.name }}" name="nc1">
            {% for j in li %}

            {% if i == j.idType %}



            <div class="col-3">
                <div class="co">
                    <div class="centerHeader"><img alt="" src="http://www.google.com/s2/favicons?domain={{j.url}}" />
                    </div>
                    <h5 class="centerHeader">{{j.name}}</h5>
                    <div class="centerHeader">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-outline-primary go" href="{{j.url}}" target="_blank"
                                data-id="{{j.id}}">GO</a>
                            <a class="btn btn-outline-danger" href="../{{j.id}}/d">Delete</a>
                            <a class="btn btn-outline-success" href="../{{j.id}}/u">Update</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}



            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


<script>

    let nc = document.getElementsByName("nc");
    let nc1 = document.getElementsByName("nc1");
    for (let i = 0; i < nc.length; i++) {
        const e = nc[i];
        const e1 = nc1[i];
        e1.style.display = "none";
        e.addEventListener("click", function () {
            if (e1.style.display != "none") {
                e1.style.display = "none";
            } else {
                e1.style.display = "flex";
            }
        });
    }
    $(".go").click(
        function (e) {
            let id = this.getAttribute("data-id")
            // console.log(id)
            $.ajax({
                url: "/link/"+id+"/dem"
            })

        }
    )
    // for (let i = 0; i < nc1.length; i++) {
    //     const e = nc1[i];
    //     console.log(e.outerHTML);
    // }
</script>
{% endblock%}